<div class="container" *ngIf="show">
  <div *ngIf="products.length; else empty">
        <table class="table is-striped">
            <thead>
                <th *ngFor="let item of titles">
                    {{ item | title }}
                </th>
            </thead>
            <tbody>
                <tr *ngFor="let prod of products">
                    <td>{{ prod.id }}</td>
                    <td>{{ prod.name | shortText: 15 }}</td>
                    <td>{{ getCategoryName(prod.categoryId) }}</td>
                    <td>{{ prod.price | currency:'S/.'}}</td>
                    <td>{{ prod.description | shortText: 35 }}</td>
                    <td>
                        <button [disabled]="!prod.actived" class="button is-small is-success" (click)="handleUpdate(prod.id)">Actualizar</button>
                        <button class="button is-small is-link" (click)="handleState(prod)">
                            {{ prod.actived ? 'Desabilitar' : 'Habilitar' }}
                        </button>
                        <button [disabled]="!prod.actived" class="button is-small is-danger" (click)="handleDelete(prod)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ng-template #empty><span style="color:blue;"> No existe producto</span></ng-template>
</div>